@font-face {
    font-family: 'Poppins';
    src: url('/front/src/fonts/Poppins/Poppins-Bold.ttf')  format('truetype');

    font-family: 'Roboto Condensed';
    src: url('/front/src/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf') format('truetype');
}

:root {
    --f1 : 'Poppins' ; 
    --f2 : 'Roboto Condensed'; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

main { 
    width: 100%;
    height: 99.9vh;
}